target/
/data-local
/.idea
/.settings
/desq.iml
/.project
/.classpath
/desq.log
/desq-test.log
/tmp
/classpath
/output.txt
fst-example.gv
fst-example.pdf
fst-example-minimized.gv
fst-example-minimized.pdf
*.iml
/*.pdf
/*.gv
